@{
    ViewBag.Title = "About";
}
@Html.Partial("_LeftMenu")


<!-- content -->
<div class="col-md-10">
    <div class="row">
        <div class="bootstrap-admin-content-title">
            <h1>
                Good Watch Hunting
            </h1>
        </div>
    </div>
    <div class="row bootstrap-admin-no-edges-padding">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="text-muted bootstrap-admin-box-title">Details</div>
                </div>
                <div class="bootstrap-admin-panel-content">
                    <ul>
                        <li>An admin theme built with <a href="http://getbootstrap.com" target="_blank">Bootstrap 3.x.</a></li>
                        <li>Blood sweat and the fury of 6 1/2 musketeers</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="text-muted bootstrap-admin-box-title">Source</div>
                </div>
                <div class="bootstrap-admin-panel-content">
                    <ul>
                        <li>
                            <a href="https://github.com/jrocket/MVC-Bootstrap-3-Admin-Template" target="_blank">Github Repository</a>
                        </li>
                        <li>
                            <a href="https://github.com/jrocket/MVC-Bootstrap-3-Admin-Template/archive/master.zip">Download (.zip package)</a>
                        </li>
                        
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row bootstrap-admin-no-edges-padding">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
 
                </div>
            </div>
        </div>
    </div>
    <div class="row bootstrap-admin-no-edges-padding">
        <div class="col-md-6">
            <div class="bs-docs-home">
            </div>
        </div>
    </div>
</div>
