<!-- left, vertical navbar -->
<div class="col-md-2 bootstrap-admin-col-left">
    <ul class="nav navbar-collapse collapse bootstrap-admin-navbar-side">
        @Html.MenuItem("About", "Index", "Home")
        @Html.MenuItem("Dashboard", "Index", "Dashboard")
        @Html.MenuItem("Tables", "Index", "Tables")


        <li>
            <a href="#"><span class="badge pull-right">731</span>User Info</a>
        </li>
    </ul>
</div>

